/*** generics ***/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 130px;
}

img {
    width: 100%;
}

/*** utilities ***/


/*** content ***/

/* header */
header {
    text-align: center;
}

header h1 {
    margin: 30px auto 40px;
    color: #e43270;
}

header p {
    margin-bottom: 30px;
}

/* end header */

/* main */
.contenitore {
    border: 3px solid black;
}


/* end main */