/*** generics ***/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 900px;
    margin: 0 auto;
}

img {
    width: 30%;
}

/*** utilities ***/

.float-left {
    float: left;
}

.clearfix {
    content: "";
    display: table;
    clear: inherit;
}

/*** content ***/

/* header */
header {
    text-align: center;
}

header h1 {
    margin: 30px auto 40px;
    color: #e43270;
}

header p {
    margin-bottom: 30px;
}

/* end header */

/* main */
.contenitore {
    width: 900px;
    margin: 0 auto;
}

#card {
    width: calc(100% / 3 - 20px);
    margin: 10px;
    background-color: #0f0e17;
}

#didascalia {
    width: auto;
    font-size: 10px;
    color: white;
    padding: 11px 0 11px 17px;
    line-height: 20px;
}

#didascalia h1 {
    font-size: 12px;
    font-family: sans-serif;
}

a {
    font-size: 10px;
    color: #44aade;
}




/* end main */